<nav class="side-menu">
                <ul>
                    <li>Talent Review</li>
                    <li>Career aspirations</li>
                    <li>Competencies</li>
                    <li>Sucessors</li>
                </ul>
                    </nav>