<nav class="side-menu">
<ul>
    <li><a class="btn-nav" href="#" onclick="togglePanels('tr')">Talent Review</a></li>
    <li><a class="btn-nav" href="#" onclick="togglePanels('ca')">Career aspirations</a></li>
    <li><a class="btn-nav" href="#" onclick="togglePanels('com')">Competencies</a></li>
    <li><a class="btn-nav" href="#" onclick="togglePanels('suc')">Sucessors</a></li>
</ul>
    </nav>