<form class="form-inline" action="/search" method="post">
        <div id="remote" class="form-group">
            <input type="text" class="typeahead form-control" id="txt_busqueda" name="txt_busqueda" placeholder="Name">
        </div>
         <button type="submit" class="btn-load">Load</button>
    </form>
