<div id="busqueda">
   <div id="containergeneral">
      <form class="form-inline" action="/search" method="post">
         <div class="form-group">
           <input type="text" class="name" id="txt_busqueda" name="txt_busqueda" placeholder="Name">
           <button type="submit" class="load">Load</button>
           <div class="resultadobusqueda">
             <div class="foto">
             </div>
             <div class="datos">Nombre
              <br>Puesto
              <br>Area
             </div> 
           </div> 
         </div>         
      </form>     
   </div>  
</div>