{{> top-nav}}
<h1>{{name}}</h1>
    <div class="container sec-busqueda">
        
    <div class="row">
        <div class="col-lg-8">
    {{> search-bar}}
        </div>
        <div class="col-lg-4">
        <h4>Personita</h4>
        </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {{> nav-menu}}
            </div>
      <div class="col-lg-10 main-container">
          <form action="/crear" method="post" class="form-horizontal">
        <div class="mpanel pan-visible" id="tr">
              
        <h1 class="section-header">
            TALENT REVIEW
        </h1>
          
          <div class="form-group">
          <label class="control-label">Potencial</label>
              <select class="form-control" data-with="fit">
                  <option>-Select-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
              
        </div>
              <div class="mpanel pan-invisible" id="ca">
              
        <h1 class="section-header">
            CAREER ASPIRATIONS
        </h1>
          
          <div class="form-group">
          <label class="control-label">Potencial</label>
              <select class="form-control" data-with="fit">
                  <option>-Select-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
              
        </div>
        <div class="mpanel pan-invisible" id="com">
              
        <h1 class="section-header">
            COMPETENCIES
        </h1>
          
          <div class="form-group">
          <label class="control-label">Potencial</label>
              <select class="form-control" data-with="fit">
                  <option>-Select-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
              
        </div>
              <div class="mpanel pan-invisible" id="suc">
              
        <h1 class="section-header">
            SUCESSORS
        </h1>
          
          <div class="form-group">
          <label class="control-label">Potencial</label>
              <select class="form-control" data-with="fit">
                  <option>-Select-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
              
        </div>
              </form>  
          </div>
    </div>
        