{{> top-nav}}
<h1>{{name}}</h1>
    <div class="container sec-busqueda">
        
    <div class="row">
        <div class="col-lg-8">
    {{> search-bar}}

        </div>
        <div class="col-lg-4">
        <h4>Personita</h4>
        </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {{> nav-menu}}
            </div>
      <div class="col-lg-10 main-container">
      
          <form action="/crear" method="post" class="form-horizontal">
        <div class="mpanel pan-visible" id="tr">
              
        <h1 class="section-header">
            TALENT REVIEW
        </h1>
          
           <div class="form-group">
            <label class="control-label">Name:</label>
            <input type="text" name="name"><br>
          </div>

          <div class="form-group">
            <label class="control-label">Job position:</label>
            <input type="text" name="job_position"><br>
          <div class="form-group">

          <div class="form-group">
            <label class="control-label">Área</label>
            <input type="text" name="area"><br>
              </div>

            <div class="form-group">
            <label for="potential">potential</label>
              <select class="form-control" data-with="potential">
                <option>-Select-</option>
                <option>High potential</option>
                <option>Potential</option>
                <option>Consolidated</option>
            </select>
            </div>

          <div class="form-group">
           <label for="potential">Career</label>
           <select class="form-control" data-with="career">
              <option>-Select-</option>
              <option>Management</option>
              <option>Specialist</option>
              <option>Both</option>
            </select>
          </div>

          <div class="form-group">
            <label for="status" id="tipo_ubicacion">Status:</label>
            <select class="form-control" data-with="status" id="status">
              <option>-Select-</option>
              <option>Next To Retirement</option>
              <option>Recent Entry</option>
              <option>Attitude Problems</option>
              <option>Inhability</option>
              <option>Recent Movement</option>
              <option>Do NoT Apply</option>
            </select>
          </div>

         <div class="form-group">
              <input type="checkbox" name="key_contributor" value="Bike"> Key contributor:<br>
              <input type="checkbox" name="specialist_critical" value="Car" checked>Specialist Critical:<br>
          </div>

          <div class="form-group">
            <label for="potential">Probability Of Loss</label>
            <select class="form-control" data-with="probability_of_loss">
              <option>-Select-</option>
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
            </select>
            </div>
 
            <label for="potential">Impact Loss</label>
            <select class="form-control" data-with="impact_loss">
              <option>-Select-</option>
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
            </select>
        </div>
              <div class="mpanel pan-invisible" id="ca">
              
        <h1 class="section-header">
            CAREER ASPIRATIONS
        </h1>
          
          
        </div>
        <div class="mpanel pan-invisible" id="com">
              
        <h1 class="section-header">
            COMPETENCIES
        </h1>
               
        </div>
       
       <div class="mpanel pan-invisible" id="suc">
              
        <h1 class="section-header">
            SUCESSORS
        </h1>
          
              
        </div>
              </form>  

          </div>
    </div>
        